{% extends 'base.html' %}
{% block content %}
<p>
    Username: {{ request.user.username }} <br>
    Name: {{ request.user.first_name }} {{ request.user.last_name }} <br>
    Date Joined: {{ request.user.date_joined }} <br>
    Email: {{ request.user.email }} <br>
    Last Login: {{ request.user.last_login }} <br>
    <a class="btn btn-primary btn-info " href="{% url 'edit_profile' %}">Edit</a>
    <a class="btn btn-primary btn-danger " href="{% url 'logout' %}">Logout</a>
    </p>
{% endblock %}
